<%= form_with url: check_texts_check_text_path do |form| %>
    <div>
        <%= form.label 'Введите текст:', {:class => 'form-check-label'} %><br>
        <%= form.text_area :text, {:class => 'form-control'}%><br>
    </div>
    <div>
        <%= form.submit 'Проверить', {:class => 'btn btn-lg btn-primary col-md-12'}%> 
    </div><br>
    <div>
        <h2>Результат проверки:</h2>
        <%if !@spell_check_error.nil?%>
        <%@spell_check_error.each do |check_result|%>
            <ul class="list-group">
                <li class="list-group-item">Ошибка в слове: <%=check_result['word']%>, вероятно вы имели ввиду: <%=check_result['s']%></li>
            </ul>
        <%end%>
          <%end%>
    </div>
<% end %>